<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myBlogEntryLabel">Create or edit a Blog Entry</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!blogEntry.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="blogEntry.id" readonly />
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_text">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                [(ngModel)]="blogEntry.title" required minlength="1"/>
            <div [hidden]="!(editForm.controls.text?.dirty && editForm.controls.text?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.text?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.text?.errors?.minlength">
                   This field is required to be at least 1 characters.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_text">Text</label>
            <input type="text" class="form-control" name="text" id="field_text"
                [(ngModel)]="blogEntry.text" required minlength="1"/>
            <div [hidden]="!(editForm.controls.text?.dirty && editForm.controls.text?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.text?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.text?.errors?.minlength">
                   This field is required to be at least 1 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_creationDate">Creation Date</label>
            <div class="d-flex">
                <input id="field_creationDate" type="datetime-local" class="form-control" name="creationDate" [(ngModel)]="blogEntry.creationDate"
                required/>
            </div>
            <div [hidden]="!(editForm.controls.creationDate?.dirty && editForm.controls.creationDate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.creationDate?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.creationDate?.errors?.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_lastModified">Last Modified</label>
            <div class="d-flex">
                <input id="field_lastModified" type="datetime-local" class="form-control" name="lastModified" [(ngModel)]="blogEntry.lastModified"
                />
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_blog">Blog</label>
            <select class="form-control" id="field_blog" name="blog" [(ngModel)]="blogEntry.blog"  required>
                <option *ngIf="!editForm.value.blog" [ngValue]="null" selected></option>
                <option [ngValue]="blogOption.id === blogEntry.blog?.id ? blogEntry.blog : blogOption" *ngFor="let blogOption of blogs; trackBy: trackBlogById">{{blogOption.id}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.blog?.dirty && editForm.controls.blog?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.blog?.errors?.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
